@import "tailwindcss";

.form-button {
    border: 1px solid black;
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.form-button:hover, .add-comment-btn:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}

.link-tag {
    text-decoration: underline;
}

.link-tag:hover {
    color: purple;
}